<%= form_for(@clientcase) do |f| %>
  <% if @clientcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clientcase.errors.count, "error") %> prohibited this clientcase from being saved:</h2>

      <ul>
      <% @clientcase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :case_id %><br />
    <%= f.number_field :case_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
