<p id="notice"><%= notice %></p>

<p>
  <b>Case:</b>
  <%= @patentcase.case_id %>
</p>

<p>
  <b>Apptype:</b>
  <%= @patentcase.apptype %>
</p>

<p>
  <b>Appfiled:</b>
  <%= @patentcase.appfiled %>
</p>

<p>
  <b>Date:</b>
  <%= @patentcase.date %>
</p>

<p>
  <b>Status:</b>
  <%= @patentcase.status %>
</p>

<p>
  <b>Examiner:</b>
  <%= @patentcase.examiner %>
</p>

<p>
  <b>Appno:</b>
  <%= @patentcase.appno %>
</p>

<p>
  <b>Pubappno:</b>
  <%= @patentcase.pubappno %>
</p>

<p>
  <b>Confno:</b>
  <%= @patentcase.confno %>
</p>

<p>
  <b>Artunit:</b>
  <%= @patentcase.artunit %>
</p>

<p>
  <b>Fileddate:</b>
  <%= @patentcase.fileddate %>
</p>

<p>
  <b>Pct:</b>
  <%= @patentcase.pct %>
</p>

<p>
  <b>Pph:</b>
  <%= @patentcase.pph %>
</p>

<p>
  <b>Special:</b>
  <%= @patentcase.special %>
</p>


<%= link_to 'Edit', edit_patentcase_path(@patentcase) %> |
<%= link_to 'Back', patentcases_path %>
